html { 
    overflow-y:scroll; 
}

body {
    padding-top:50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

label.place-name {
    width: 470px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

label.place-name:hover {
    cursor: pointer;
    color: #0D0DBA;
}

label.vote-count {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.jumbotron.text-center.narrowjumbo {
    width: 740px;
    margin: 0 auto;
    background-image: url('subtle_white_mini_waves.png');
}

.votes {
    font-weight: 700;
}

.vote-inc:hover {
    cursor: pointer;
    color: #0D0DBA;
}

#place-form {
    margin: 40px 10px;
}

#places {
    margin: 10px 10px;
}

#map-view {
    overflow: hidden;
    min-height: 400px;
    padding: 10px;
}